<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <table>
          {% if site.twitter_username %}
            <tr>
              <td>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                  <i class="fa fa-twitter"></i>
                </a>
              </td>
              <td>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                  Twitter
                </a>
              </td>
            </tr>
          {% endif %}

          {% if site.github_username %}
              <tr>
                <td>
                  <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://github.com/{{ site.github_username }}">
                    GitHub
                  </a>
                </td>
              </tr>
          {% endif %}
          
          {% if site.linkedin_username %}
              <tr>
                <td>
                  <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    <i class="fa fa-linkedin"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    LinkedIn
                  </a>
                </td>
              </tr>
          {% endif %}

          {% if site.facebook_username %}
              <tr>
                <td>
                  <a href="https://www.facebook.com/{{ site.facebook_username }}">
                    <i class="fa fa-facebook"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://www.facebook.com/{{ site.facebook_username }}">
                    Facebook
                  </a>
                </td>
              </tr>
          {% endif %}

          {% if site.scholar_username %}
              <tr>
                <td>
                  <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
                    <i class="fa fa-google"></i> 
                  </a>
                </td>
                <td>
                  <a href="https://scholar.google.com/citations?user={{ site.scholar_username }}">
                    Google Scholar
                  </a>
                </td>
              </tr>
          {% endif %}
        </table>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          {{ site.description }}
          <br />
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
          <br />
          <a href="https://github.com/BrechtDeMan/BrechtDeMan.github.io">View website source on Github</a>
        </p>
      </div>
    </div>

  </div>

</footer>
