---
layout: page
title: Blog
redirect_from:
- /blog.html
---

<p class="rss-subscribe"><em>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_self">via RSS</a></em></p>


<!-- Pagination links - top -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" target="_self" class="previous"><< Previous</a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" target="_self" class="next">Next >> </a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
</div>

<!-- This loops through the paginated posts -->
<table cellpadding="5px">
  {% for post in paginator.posts %}
    <tr>
      <td style="white-space: nowrap;" valign="top"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></td>
      <td valign="top"><a class="post-link" target="_self" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
    </tr>
  {% endfor %}
</table>

<!-- Pagination links - bottom -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" target="_self" class="previous"><< Previous</a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" target="_self" class="next">Next >> </a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
</div>


<!-- Get the tag name for every tag on the site and set them
to the `site_tags` variable. -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
{% assign tag_words = site_tags | split:',' | sort %}

<!-- List of all tags -->
<ul class="tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <li>
      <a href="tags/#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}
        <span>({{ site.tags[this_word].size }})</span>
      </a>
    </li>
  {% endunless %}{% endfor %}
</ul>
	
