---
layout: page
title: Blog
redirect_from:
- /blog.html
- /research.html
---

<p class="rss-subscribe"><em>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></em></p>


<!-- Pagination links - top -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><< Previous</a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next >> </a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
</div>

<!-- This loops through the paginated posts -->
<table cellpadding="5px">
  {% for post in paginator.posts %}
    <tr>
      <td style="white-space: nowrap;" valign="top"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></td>
      <td valign="top"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
    </tr>
  {% endfor %}
</table>

<!-- Pagination links - bottom -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><< Previous</a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
  <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next >> </a>
  {% else %}
    <!-- nothing? -->
  {% endif %}
</div>
	
